* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-image: url('../img/istockphoto-917346634-170667a.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 175px;
    text-align: center;
    font-size: 30px;
    color: wheat;
    font-family: 'Creepster', cursive;
    height: 100vh;
}

#flecha {
    width: 25%;
}

.row {
    background-image: url('../img/puertapuerta.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 175px;
    text-align: center;
    color: blanchedalmond;
    height: 100vh;
}

input {
    padding: 2% 0% 1% 0.5%;
    font-size: 150%;
}

a {
    text-decoration: none;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}