<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scape Room | </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/pag1.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylespag2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="../img/istockphoto-917346634-170667a.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1>Te has quedado encerrado en la habitación en la que el loco millonaria guardaba sus riquezas, encuentra el código para poder salir de aquí.</h1>
        <img src="../img/unnamed.png" alt="flecha" id="flecha">
    </div>
    <div class="row">
        <h1> asda</h1>
    </div>
</body>



<footer>


</footer>

</html>