<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylespag9.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="icon " href="../img/LOGO.png" type="image/x-icon ">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div id="videowrapper">
            <div id="fullScreenDiv">
                <video id="video1" autoplay muted loop>
                <source src="../img/recursos-videos-de-fondo-montana.mp4" type="video/mp4">
                </video>
                <div id="TextoVideo">
                    <h1>CONGRATULATIONS!!!</h1>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="row " id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="../img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>