<!DOCTYPE html>
<html lang="en">

<head>
    <title>Escape Room | </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/pag8.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylespag8.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="icon " href="../img/LOGO.png" type="image/x-icon ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>Dani ha conseguido abrir la puerta principal pero se encuentra con un Final Boss, el fantasma del viejo loco. Solo podrá huir si dice la palabra secreta.
        </h1>
    </div>


    <div class="row" id="fondo">
        <div class="two-column">
            <img src="../img/tulehariasdaño.png" alt="nota" width="700">
        </div>
        <div class="two-column" id="padding">
            <input type="text" name="val-1" id="val-1">
            <a href="../view/pagina9.html" onclick="return pag4()">PALABRA SECRETA</a>
        </div>
    </div>


</body>



<footer>
    <div class="row " id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="./img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>

</html>