<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/pag7.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylespag7.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon " href="../img/LOGO.png" type="image/x-icon ">
</head>

<header>
    <div class="header">
        <h1>HA LLEGADO LA ENTRADA PRINCIPAL</h1>
        <h1>Dani, emocionado y cansado introduce la llave en la puerta principal pero se da cuenta de que para poder acabar de abrir la puerta necesitan una última clave.</h1>
        <h1>DESLIZA PARA CONTINUAR...</h1>
    </div>
</header>

<body id="back">
    <div class="contenedor">
        <img src="../img/cuadro2.jpg" />
        <img class="top" src="../img/cuadro1.jpg" />
    </div>
    <div class="row2">
        <div class="padding">
            <input type="text" name="val-1" id="val-1">
            <a href="../view/pagina8.html" onclick="return pag7()">CÓDIGO PARA CONTINUAR</a>
        </div>
        <div class="huhu">
        </div>
    </div>
</body>

<footer>
    <div class="row2" id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="../img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>