<!DOCTYPE html>
<html lang="esp">

<head>
    <title>Escape Room |</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylespag6.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/LOGO.png" type="image/x-icon ">
    <script src="../js/pag6.js"></script>
</head>

<body>
    <div class="row">
        <div class="pres">
            <h1>Has abierto la caja fuerte y obtenido la llave de la puerta principal. ¿Qué más habrá en la carpeta que nos pueda ayudar a escapar?</h1>
        </div>
        <div class="datos">
            <img src="../img/word.png" id="word">
        </div>
        <div class="datos" id="recogida_datos">
            <input type="text" name="val-1" id="val-1">
            <div class="comprobar">
                <a href="./pagina7.html" onclick="return pag6()">Introducir código</a>
            </div>
        </div>


    </div>
</body>

<footer>
    <div class="black" id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="../img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>

</html>