<!DOCTYPE html>
<html lang="esp">

<head>
    <title>Scape Room | Reto 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylespag5.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/LOGO.png" type="image/x-icon ">
    <script src="../js/pag5.js"></script>
</head>

<body>
    <div class="row">
        <div class="pres">
            <h1>¡Bien! Has accecido al USB, parece que dentro hay un mapa que dirige a una caja fuerte.<br>Al parecer la caja necesita un código para abrirse, averígualo.</h1>
        </div>
        <div class="datos">
            <input type="text" name="val-1" id="val-1">
        </div>
        <div class="comprobar">
            <a href="./pagina6.html" onclick="return pag5()">Abrir caja fuerte</a>
        </div>

    </div>
</body>

<footer>
    <div class="black" id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="../img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>

</html>