<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scape Room | </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/stylespag2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="icon " href="./img/logo.gif " type="image/x-icon ">

</head>

<body>
    <div class="row">
        <div class="texto">
            <h1>Has abierto la puerta, pero las luces están apagadas y es muy difícil moverte por la habitación, de fondo se escucha un ruido que parece morse...</h1>
        </div>
        <div class="room">
            <input type="text" name="val-1" id="val-1">
            <a href="view/reto_2.html" onclick="return val_1()">Validar reto</a>
            <audio autoplay loop id="playAudio">
                <source src="../img/morse.wav">
            </audio>
        </div>

    </div>
</body>



<footer>


</footer>

</html>