<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/pag2.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylespag2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="icon " href="../img/LOGO.png" type="image/x-icon ">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1>Te has quedado encerrado en la habitación en la que el loco millonario guardaba sus riquezas, encuentra el código para poder salir de aquí.</h1>
        <img src="../img/unnamed.png" alt="flecha" id="flecha">
    </div>
    <div class="row2">
        <input type="text" name="val-1" id="val-1">
        <a href="../view/pagina3.html" onclick="return pag2()">COMPROBAR CÓDIGO</a>
    </div>
</body>

<!-- redirigir el input bien
Estilos input
Botón flecha
-->

<footer>
    <div class="row " id="footer">
        <div class="two-column2">
            <p>© R.I.M. Escape Room, 2021</p>
            <img src="../img/LOGO.png" width="20%" alt="logo">
        </div>

        <div class="four-column">
            <p>Facebook</p>
            <p>Instagram</p>
        </div>

        <div class="four-column">
            <p>Nuestra empresa</p>
            <p>Dudas</p>
        </div>
    </div>

</footer>

</html>